<!--Fenster Kommentar erstellen oder bearbeiten-->
<div
  class="modal fade"
  id="comment"
  tabindex="-1"
  aria-labelledby="commentLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentLabel">
          Schreiben Sie einen Kommentar zum Projekt
        </h5>
        <button
          type="button"
          id="commentClose"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form>
        <div class="modal-body">
          <textarea class="form-control" id="commentForm" rows="3"></textarea>

          <input type="hidden" id="user_id" value="{{user_id}}">
          <input type="hidden" id="project_id" value="">
          <input type="hidden" id="comment_id" value="">
        </div>
        <div class="modal-footer">
          <button type="button" id="submitComment" class="btn btn-primary">
            Erstellen
          </button>
          <button
            type="button"
            id="changeComment"
            class="btn btn-primary d-none"
          >
            Ändern
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
