<!--Fenster erstellen oder bearbeiten von Projekten -->
<div
  class="modal fade"
  id="createProject"
  aria-hidden="true"
  aria-labelledby="createProjectLabel"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createProjectLabel">
          Neues Projekt anlegen
        </h5>
        <button
          type="button"
          id="closeProjekt"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div id="alertProjekt"></div>
        <div
          id="errorAlert"
          class="alert alert-danger"
          style="display: none"
        ></div>

        <input type="hidden" id="user_id" value="{{user_id}}" />

        <label for="projectName" class="form-label mt-4">Projektname</label>
        <input type="text" id="projectName" class="form-control mb-3" />

        <label for="projectName" class="form-label mt-4"
          >Projekt zuweisen an</label
        >
        <select
          class="form-select"
          id="projectAllocate"
          data-placeholder="Wählen Sie eine Option"
          multiple
        ></select>

        <label for="description" class="form-label mt-4">Beschreibung</label>
        <textarea
          type="text"
          id="description"
          class="form-control"
          rows="12"
          class="form-control"
        ></textarea>

        <form method="post" enctype="multipart/form-data">
          <div id="dropzone" class="dropzone d-none"></div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" id="saveButtonProject" type="submit">
          Speichern
        </button>
        <button
          class="btn btn-primary d-none"
          id="updateButtonProject"
          type="submit"
        >
          Projekt ändern
        </button>
      </div>
    </div>
  </div>
</div>
