<!--Projektdetails -->
<div class="row myHideClass d-none">
  <div class="card border-0">
    <div class="card-body">
      <div class="col-12">
        <small class="brand-color">Projektname</small>
        <h5 id="viewNameProject">Name</h5>
      </div>
      <div class="col-12 my-3 d-flex">
        <input type="hidden" id="userId" value="{{user_id}}" />
        <div id="bookmarkForm">
          <i
            id="bookmarkId"
            projectBookmark=""
            class="icon-font fa-solid fa-book-bookmark project"
          ></i>
        </div>
        <div id="fileForm">
          <a href="javascript:void(0);" id="updateProject" data-project-id="">
            <i class="icon-font fa-solid fa-file-pen"></i>
          </a>
        </div>
        <div class="trashForm">
          <i class="icon-font fa-solid fa-trash d-none" id="trashDelete"></i>
        </div>
      </div>
      <div class="col-12 mt-1">
        <small class="brand-color">Zugewiesen an</small>
        <h5 id="viewAssignedUser" class="d-flex justify-content-start"></h5>
      </div>
      <div class="col-12">
        <small class="brand-color">Erstellt von</small>
        <h5 id="viewCreatorProject"></h5>
      </div>
      <div class="col-12">
        <small class="brand-color">Projektbeschreibung</small>
        <h5 id="viewDescriptionProject">Text</h5>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="card border-0">
      <div class="card-body">
        <div id="documentsButton"></div>
      </div>
    </div>
  </div>
</div>

<!--Kommentare -->
<div class="row mt-5 pt-5 myHideClass d-none">
  <div class="card border-0">
    <div class="card-body">
      <div class="d-flex align-items-baseline">
        <h5 class="pt-1">Kommentare</h5>
        <button
          type="button"
          id="createComment"
          class="btn btn-secondary btn-sm ms-auto"
        >
          Kommentar erstellen
        </button>
      </div>
      <div id="commentOutput"></div>
    </div>
  </div>
</div>
<h2 class="myViewClass text-center mt-5">
  Bitte wählen Sie ein Projekt aus ...
</h2>
