<div class="col-12 col-md-3 p-0">
  <div
    class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white border-end"
  >
    <div class="p-3">
      <input
        type="text"
        class="form-control form-control-lg"
        id="searchProject"
        placeholder="Geben Sie den Projektname ein..."
      />
    </div>
    <div
      id="projectList"
      class="list-group list-group-flush border-bottom scrollarea"
      style="height: 100vh; overflow-y: auto"
    ></div>
  </div>
</div>
