{% load user_tags %}

<div class="d-grid gap-2 col-12 mx-auto pt-3">
  <button
    class="btn btn-primary"
    data-bs-toggle="modal"
    href="#createProject"
    role="button"
  >
    Projekt erstellen
  </button>
</div>
<ul class="nav nav-pills flex-column mb-auto mt-3 sidebar-content">
  <li class="nav-item">
    <a id="allProjects" href="javascript:void(0);" class="nav-link link-dark">
      Alle Projekte
    </a>
  </li>
  <li class="nav-item">
    <a
      href="javascript:void(0);"
      class="nav-link link-dark nav-link-user-projects"
    >
      Erstellte Projekte von {% get_username user_id %}
    </a>
  </li>
  <li class="nav-item">
    <a
      href="javascript:void(0);"
      class="nav-link link-dark nav-link-watchlist-projects"
    >
      Markierte Projekte
    </a>
  </li>
  <li class="nav-item">
    <a
      href="javascript:void(0);"
      id="assignedProjects"
      class="nav-link link-dark"
    >
      Mir zugewiesen Projekte
    </a>
  </li>
</ul>
