<!--Fenster Dokument hochladen-->
<div
  class="modal fade"
  id="uploadDocument"
  aria-hidden="true"
  aria-labelledby="uploadDocumentLabel"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="uploadDocumentLabel">Dokument</h5>
        <button
          type="button"
          id="closeDocument"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div id="alertDocument"></div>
        <form>
          <label for="documentNameForm" class="form-label">Dokumentname</label>
          <input type="text" class="form-control mb-3" id="documentNameForm" />

          <label for="DocumentTagForm" class="form-label">Tag</label>
          <input type="text" class="form-control mb-3" id="DocumentTagForm" />
          <div id="tagResults" class="results-div"></div>
          <input type="hidden" id="tagHiddenId" value="" />

          <label for="projectNameForm" class="form-label">Projektname</label>
          <input type="text" class="form-control mb-3" id="projectNameForm" />
          <input type="hidden" id="projectHiddenId" value="" />
          <div id="projectResults" class="results-div"></div>

          <input type="hidden" id="documentHiddenId" value="" />

          <div id="dropzoneDocument" class="dropzone">
            <div class="dz-message">Datei hochladen</div>
          </div>
          <button
            class="btn btn-danger mt-3 d-none"
            id="deleteButton"
            data-bs-target="#deleteModal"
            data-bs-toggle="modal"
            data-bs-dismiss="modal"
          >
            Löschen
          </button>
          <button type="button" id="saveButtonDocument" class="btn btn-primary mt-3">
            Speichern
          </button>
          <button
            type="button"
            id="updateButtonDocument"
            class="btn btn-primary mt-3 d-none"
          >
            Ändern
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Fenster Dokument löschen-->
<div
  class="modal fade"
  id="deleteModal"
  aria-hidden="true"
  aria-labelledby="deleteModalLabel"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Löschen</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Dokument endgültig löschen.</div>
      <div class="modal-footer">
        <button
          class="btn btn-danger document-delete-btn"
          id="documentDeleteButton"
        >
          Löschen
        </button>
      </div>
    </div>
  </div>
</div>
