{% load user_tags %}

<div class="col-12 col-md-2 bg-white border-end">
  <div class="d-grid gap-2 col-12 mx-auto pt-3">
    <button
      class="btn btn-primary"
      data-bs-toggle="modal"
      href="#uploadDocument"
      role="button"
    >
      Dokument hochladen
    </button>
    <button
      class="btn btn-primary"
      data-bs-toggle="modal"
      href="#newTag"
      role="button"
    >
      Neuen Tag erstellen
    </button>
    <button class="btn btn-primary" id="manageTags">Verwaltung von Tags</button>
  </div>
  <div class="list-group mt-3 border-0">
    <a
      href="javascript:void(0);"
      id="allDocuments"
      class="list-group-item list-group-item-action border-0"
      >Alle Dokumente</a
    >
    <a
      href="javascript:void(0);"
      id="userDocuments"
      class="list-group-item list-group-item-action border-0"
    >
      Hochgeladene Dokumente von {% get_username user_id %}
    </a>
    <a
      href="javascript:void(0);"
      id="watchlistDocument"
      class="list-group-item list-group-item-action border-0"
      >Markierte Dokumente</a
    >
  </div>
</div>
