<!--Fenster Tags hinzufügen-->
<div
  class="modal fade"
  id="newTag"
  aria-hidden="true"
  aria-labelledby="newTagLabel"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newTagLabel">Tags</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <label for="tagFormTag" class="form-label">Tag Name</label>
          <input type="text" class="form-control" id="tagFormTag" />
          <button class="btn btn-primary mt-3" id="submitTags" type="submit">
            Speichern
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--Fenster Tags verwalten-->
<div
  class="modal fade"
  id="manageTagsUpdate"
  tabindex="-1"
  aria-labelledby="manageTagsUpdateLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="manageTagsUpdateLabel">Tags Verwaltung</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div id="tagsResults"></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Schließen
        </button>
      </div>
    </div>
  </div>
</div>
