<!-- Modal für das Hinzufügen von Tags -->
<div class="modal fade" id="exampleTagTogge" aria-hidden="true" aria-labelledby="exampleTagToggeLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <!-- Kopfzeile des Modals -->
          <div class="modal-header">
              <h5 class="modal-title" id="exampleTagToggeLabel">Tags</h5>
              <!-- Schließtaste des Modals -->
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <!-- Hauptinhalt des Modals -->
          <div class="modal-body">
              <form>
                  <!-- Feld für den Tag-Namen -->
                  <label for="tageForm" class="form-label">Tag Name</label>
                  <input type="text" class="form-control" id="tageForm">
                  <!-- Speichern-Button -->
                  <button class="btn btn-primary mt-3" id="submitTags" type="submit">Speichern</button>
              </form>
          </div>
      </div>
  </div>
</div>

<!-- Modal für die Verwaltung von Tags -->
<div class="modal fade" id="exampleTagsUpdate" tabindex="-1" aria-labelledby="exampleTagsUpdateLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <!-- Kopfzeile des Modals -->
          <div class="modal-header">
              <h5 class="modal-title" id="exampleTagsUpdateLabel">Tags Verwaltung</h5>
              <!-- Schließtaste des Modals -->
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <!-- Hauptinhalt des Modals -->
          <div class="modal-body">
              <!-- Container für die Anzeige von Tags -->
              <div id="tagsResults"></div>
          </div>
          <!-- Fußzeile des Modals -->
          <div class="modal-footer">
              <!-- Schließtaste des Modals -->
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Schließen</button>
          </div>
      </div>
  </div>
</div>
