<!DOCTYPE html>
<html lang="de">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/login_styles.css' %}">
</head>
<body>
    <div class="LoginForm">
        {% if form.errors %}
        <div class="alert alert-danger alert-dismissible" role="alert">
                {% for key, value in form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        <img src="{% static 'bilder/Logo.png' %}" alt="Logo">
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Benutzername">
            <input type="password" name="password" placeholder="Passwort">
            <button type="submit">Anmelden</button>
        </form>
    </div>
</body>
</html>