.btn-primary {
    color: #fff;
    background-color: #45818e;
    border-color: #45818e;
}

.nav-item:hover,
.btn-primary:hover {
    color: #45818e;
    background-color: #45818e33;
    border-color: #45818e33;
}

.sidebar-content .nav-item{
    border-radius: 0.35rem;
}

.btn-check:focus+.btn-primary, 
.btn-primary:focus,
.list-group-item:hover,
.list-group-item.active {
    color: #45818e;
    background-color: #45818e33;
    border-color: #45818e33;
    box-shadow: 0 0 0 0.25rem #45818e00;
}

.current a{
    text-decoration: none;
}

.current h5{
    text-decoration: none;
    color: #45818e;
}

.current h5:hover{
    text-decoration: none;
    color: #45818e;
}

nav .nav-item:hover {
    background-color:#45818e00 !important;
}
