{% extends 'webseite/index.html' %}
{% load static %}
{% load user_tags %}
{% block css %}

<link
  href="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone.css"
  rel="stylesheet"
  type="text/css"
/>
<link rel="stylesheet" href="{% static 'css/projects.css' %}" />

{% endblock %}
{% block content %}

<div class="container-fluid bg-white">
  <div class="row">
    <div
      class="col-12 col-md-2 bg-white border-end"
    >
      {% include "includes/sidebar.html" %}
    </div>
    {% include "includes/project-search.html" %}
    <div class="col-12 col-md-7">
      {% include "includes/project-content.html" %}
    </div>
  </div>
</div>

{% include "includes/modal.html" %}
{% include "includes/modal-comment.html" %}
{% endblock content %} {% block javasript %}
<script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
<script src="{% static '/js/projects.js' %}"></script>
<script src="{% static '/js/comments.js' %}"></script>
{% endblock %}
