{% extends 'webseite/index.html' %}
{% load static %}
{% load user_tags %}

{%block css %}
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.css"
/>
<link rel="stylesheet" href="{% static 'css/documents.css' %}" />
{% endblock %}

{% block content %}

<div
  class="container-fluid bg-white"
  style="max-height: calc(100vh - 140px); height: 100vh"
>
  <div class="row">
    <input type="hidden" id="loginUserId" value="{{user.id}}" />

    {% include "includes/sidebar-documents.html" %}

    <div class="col-12 col-md-10 bg-white">
      <div class="row my-3">
        <div class="col-md-3">
          <input
            class="form-control"
            id="searchQuery"
            type="text"
            placeholder="Geben Sie den Dateinamen ein..."
          />
        </div>
        <div class="col-md-2">
          <select id="selectUser" class="form-select">
            <option selected></option>
          </select>
        </div>
        <div class="col-md-2">
          <input
            class="form-control"
            type="text"
            id="datepickerFrom"
            name="datepickerFrom"
            placeholder="Datum von..."
          />
        </div>
        <div class="col-md-2">
          <input
            class="form-control"
            type="text"
            id="datepickerTo"
            name="datepickerTo"
            placeholder="Datum bis..."
          />
        </div>
        <div class="col-md-2">
          <select class="form-select" id="selectTags">
            <option selected></option>
          </select>
        </div>
        <div class="col-md-1">
          <a
            href="javascript:void(0);"
            class="btn btn-secondary d-none"
            id="resetDocumentsfilter"
          >
            <i class="fa-solid fa-arrows-rotate"></i>
          </a>
        </div>
      </div>
      <div id="documentCards" class="m-4"></div>
      <div id="paginationContainer" class="pagination"></div>
    </div>
  </div>
</div>

{% include "includes/tag-modal.html" %}
{% include "includes/documents-modal.html" %}
{% endblock content %}
{% block javasript %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://unpkg.com/dropzone@6.0.0-beta.1/dist/dropzone-min.js"></script>
<script src="{% static '/js/documents.js' %}"></script>
<script src="{% static '/js/tags.js' %}"></script>
{% endblock %}
